<!DOCTYPE html>
<html>
<head>
  <title>TripTips</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="header-container">
    <h1><a href="/">Brett's Trip Tips</a></h1>
  </section>

  <section class="body-container">
    <%= yield %>
  </section>

  <script src="http://code.jquery.com/jquery.js"></script>
</body>
</html>
